<!-- header -->
<%- include('include/_header-viewpost')%>
<!-- /header -->

<form class="show" action="/api/posts" method="get">
    <h3 class="title"><%= post.title %></h3>
    <img src="img/image.jpg" alt="">
    <p><%= Array.isArray(post.paragraphs) ? post.paragraphs.join('<br>') : post.paragraphs %></p>
    <div>
        <h4><%= post.category %></h4>
    </div>

    <div class="partition"></div>

    <div>
        <button type="button" id="singleUpdatePost" data-id="<%= post._id %>">Update Post</button>
        <button type="button" id="singleDeletePost" data-id="<%= post._id %>">Delete Post</button>
    </div>

</form>

<!-- footer -->
<%- include('include/_footer')%>
<!-- /footer -->